:root {
  /* Primary */

  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);

  /* Neutra */

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-mostly-blue: hsl(234, 17%, 12%);
}

.red-hat-text-700 {
  font-family: "Red Hat Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-hat-text-700 {
    min-width: 320px;
    background-image: url("./images/bg-stars.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.countDown {
}
.title {
}
.box {
}
.day {
}
.hour {
}
.minute {
}
.second {
}







/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
